<?xml version="1.0"?>
<robot>

	<material name="SoftHand/Red">
		<color rgba="1.0 0.0 0.0 1.0"/>
	</material>

	<material name="SoftHand/Green">
		<color rgba="0.0 1 0.0 1.0"/>
	</material>

	<material name="SoftHand/DarkGolden">
		<color rgba="0.4 0.4 0.3 1.0"/>
	</material>

	<material name="SoftHand/Blue">
		<color rgba="0.0 0.0 0.8 0.9"/>
	</material>

	<material name="SoftHand/LightBlue">
		<color rgba="0.0 0.4 1.0 0.5"/>
	</material>

	<material name="SoftHand/LightGrey">
		<color rgba="0.7 0.7 0.7 1.0"/>
	</material>

	<material name="SoftHand/DarkGrey">
		<color rgba="0.4 0.4 0.4 1.0"/>
	</material>

	<material name="SoftHand/Black">
		<color rgba="0.0 0.0 0.0 1.0"/>
	</material>
  
  <material name="HumanHand/Skin">
		<color rgba="0.802 0.732 0.673 1.0"/>
	</material>


</robot>
