<tactile_mapping xmlns:xacro="http://ros.org/wiki/xacro">
<xacro:property name="tactMap" value="{
'idd':17,
'idi':18,
'idm':29,
'ido':16,
'imi':19,
'imm':28,
'imo':20,
'ip':24,
'ipi':30,
'ldd':6,
'ldi':9,
'ldm':7,
'ldo':5,
'lmi':8,
'lmm':11,
'lmo':10,
'lp':12,
'lpo':13,
'mdd':39,
'mdi':42,
'mdm':44,
'mdo':40,
'mmi':37,
'mmm':43,
'mmo':38,
'mp':41,
'pcid':61,
'pcim':48,
'pcip':62,
'pcmd':49,
'pcmp':50,
'pdi':53,
'pdl':54,
'pdm':55,
'pdr':59,
'po':51,
'ptid':56,
'ptip':57,
'ptod':58,
'ptop':60,
'rdd':34,
'rdi':46,
'rdm':32,
'rdo':33,
'rmi':31,
'rmm':35,
'rmo':36,
'rp':47,
'tdd':22,
'tdi':25,
'tdm':21,
'tdo':23,
'tpi':26,
'tpo':27,
}" />
</tactile_mapping>
