<tactile_mapping xmlns:xacro="http://ros.org/wiki/xacro">
<xacro:property name="tactMap" value="{
'idd':45,
'idi':19,
'idm':44,
'ido':42,
'imi':28,
'imm':40,
'imo':33,
'ip':43,
'ipi':17,
'ldd':58,
'ldi':53,
'ldm':56,
'ldo':26,
'lmi':57,
'lmm':60,
'lmo':22,
'lp':59,
'lpo':27,
'mdd':34,
'mdi':38,
'mdo':48,
'mmi':39,
'mmm':37,
'mmo':49,
'mp':41,
'pcid':10,
'pcim':2,
'pcip':13,
'pcmd':24,
'pcmp':5,
'pco':7,
'pdi':30,
'pdii':18,
'pdl':23,
'pdlo':21,
'pdm':29,
'pdr':25,
'pi':16,
'ptid':1,
'ptip':8,
'ptmd':6,
'ptmp':11,
'ptod':20,
'ptop':4,
'rdd':61,
'rdi':50,
'rdm':52,
'rdo':55,
'rmi':51,
'rmm':63,
'rmo':54,
'rp':62,
'tdd':15,
'tdi':0,
'tdm':9,
'tdo':12,
'tpi':2,
'tpm':31,
'tpo':14,
}" />
</tactile_mapping>
