<tactile_mapping xmlns:xacro="http://ros.org/wiki/xacro">
<xacro:property name="tactMap" value="{
'idd':60,
'idi':1,
'idm':51,
'ido':50,
'imi':2,
'imm':62,
'imo':58,
'ip':56,
'ipi':15,
'ldd':16,
'ldi':30,
'ldm':17,
'ldo':26,
'lmi':20,
'lmm':31,
'lmo':27,
'lp':18,
'lpo':23,
'mdd':48,
'mdi':59,
'mdm':53,
'mdo':5,
'mmi':57,
'mmm':61,
'mmo':13,
'mp':49,
'pcid':47,
'pcim':46,
'pcip':52,
'pcmd':24,
'pcmp':33,
'pco':25,
'pdi':14,
'pdii':0,
'pdl':28,
'pdlo':22,
'pdm':4,
'pdr':21,
'ptid':40,
'ptip':34,
'ptmd':43,
'ptmp':32,
'ptod':45,
'ptop':38,
'rdd':10,
'rdi':11,
'rdm':8,
'rdo':19,
'rmi':9,
'rmm':12,
'rmo':29,
'rp':6,
'tdd':37,
'tdi':39,
'tdm':44,
'tdo':36,
'tpi':41,
'tpm':35,
'tpo':63,
}" />
</tactile_mapping>
