<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="human_hand">

	<xacro:arg name="left_hand" default="false"/>
	<xacro:arg name="use_mimic_tag" default="false"/>
	<xacro:arg name="tactile_mapping" default="P3"/>

	<xacro:property name="tactile_mapping" value="$(arg tactile_mapping)"/>
	<xacro:include filename="$(find human_hand_description)/model/human_hand.urdf.xacro"/>

	<link name="world"/>
	<xacro:human_hand parent="world" name="human_hand_right" left="$(arg left_hand)" useMimicTag="$(arg use_mimic_tag)" >
		<origin xyz="0 0 0" rpy="0 0 0"/>
	</xacro:human_hand>

</robot>
