<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="human_hand">

	<!-- side can be left | right | '' | '-' (meaning, fetch from mapping) -->
	<xacro:arg name="side" default=""/>
	<xacro:arg name="use_mimic_tag" default="false"/>
	<xacro:arg name="tactile_mapping" default="P3r"/>

	<xacro:include filename="$(find human_hand_description)/model/human_hand.urdf.xacro"/>

	<link name="world"/>
	<xacro:human_hand parent="world" name="human_hand$(arg side)" side="$(arg side)"
	                  tactile_mapping="$(arg tactile_mapping)" useMimicTag="$(arg use_mimic_tag)">
		<origin xyz="0 0 0" rpy="0 0 0"/>
	</xacro:human_hand>

</robot>
