<launch>
	<!-- LAUNCH INTERFACE -->
	<arg name="gui" default="true" />
	<arg name="robot_name" default="human_hand"/>
	<arg name="use_rviz" default="true"/> 
	<arg name="use_joint_state_publisher" default="true"/> 
	<arg name="use_mimic_tag" default="true"/> <!-- the synergy is applied with pure kinematics -->
	<arg name="left_hand" default="false"/> <!-- use right hand by default -->

	<!-- LAUNCH IMPLEMENTATION -->
	<param name="robot_description" command="$(find xacro)/xacro.py $(find human_hand_description)/robot/$(arg robot_name).urdf.xacro use_mimic_tag:=$(arg use_mimic_tag) left_hand:=$(arg left_hand)" />
	<param name="use_gui" value="$(arg gui)"/>

	<group if="$(arg use_joint_state_publisher)">
		<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>
		<group unless="$(arg gui)">
			<rosparam param="source_list" >["/synergy/joint_states"]</rosparam>  
		</group>
	</group>

	<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/> 

	<group if="$(arg use_rviz)">
		<node name="my_rviz" pkg="rviz" type="rviz" respawn="false" args="-d $(find human_hand_description)/launch/display.rviz" output="screen"/>
	</group>
</launch>
