<launch>
	<!-- LAUNCH INTERFACE -->
	<arg name="gui" default="true" />
	<arg name="robot_name" default="human_hand_simple"/>
	<arg name="use_rviz" default="true"/> 
	<arg name="use_joint_state_publisher" default="true"/> 

	<!-- LAUNCH IMPLEMENTATION -->
	<param name="robot_description" command="$(find xacro)/xacro.py $(find human_hand_description)/robot/$(arg robot_name).urdf.xacro " />
	<param name="use_gui" value="$(arg gui)"/>

	<group if="$(arg use_joint_state_publisher)">
		<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>
	</group>

	<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"  /> 

	<group if="$(arg use_rviz)">
		<node name="my_rviz" pkg="rviz" type="rviz" respawn="false" args="-d $(find human_hand_description)/launch/my_rviz.rviz" output="screen"/>
	</group>
</launch>


