<!-- upload a single human hand and start rviz -->
<launch>
	<include file="$(find human_hand_description)/launch/upload.launch">
		<arg name="tactile_mapping" value="$(arg tactile_mapping)"/>
	</include>
	<node name="$(anon glove_base_transform)" pkg="tf2_ros"
	      type="static_transform_publisher" args="0 0 0  0 0 0  world glove_base"/>
	<node name="rviz" pkg="rviz" type="rviz" respawn="false"
	      args="-d $(find human_hand_description)/launch/display.rviz" output="screen"/>
</launch>
