<!-- upload two human hands (in separate namespaces h1, h2) and start rviz -->
<launch>
	<group ns="h1">
		<param name="tf_prefix" type="string" value="h1"/>
		<include file="$(find human_hand_description)/launch/upload.launch">
			<arg name="tactile_mapping" value="$(arg mapping1)"/>
		</include>
		<node name="$(anon hand_base_transform)" pkg="tf2_ros"
		      type="static_transform_publisher" args="-0.05 0 0  0 0 0  world h1/glove_base"/>
	</group>

	<group ns="h2">
		<param name="tf_prefix" type="string" value="h2"/>
		<include file="$(find human_hand_description)/launch/upload.launch">
			<arg name="tactile_mapping" value="$(arg mapping2)"/>
		</include>
		<node name="$(anon hand_base_transform)" pkg="tf2_ros"
		      type="static_transform_publisher" args="0.05 0 0  0 0 0  world h2/glove_base"/>
	</group>

	<node name="rviz" pkg="rviz" type="rviz" respawn="false"
	      args="-d $(find human_hand_description)/launch/two_gloves.rviz" output="screen"/>
</launch>
