<launch>
	<arg name="gui" default="true" />
	<arg name="use_synergy" default="true"/>

	<!-- load robot description -->
	<param name="robot_description" command="$(find xacro)/xacro --inorder $(find human_hand_description)/robots/twohands.urdf.xacro use_synergy:=$(arg use_synergy)"/>

	<param name="use_gui" value="$(arg gui)"/>
	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/>
	<node name="tactile_marker_publisher" pkg="tactile_marker_publisher" type="tactile_marker_publisher" />

	<node name="rviz" pkg="rviz" type="rviz" respawn="false" args="-d $(find human_hand_description)/launch/display.rviz" output="screen"/>
</launch>
