<launch>
	<arg name="gui" default="true" />

	<arg name="robot_name" default="human_hand"/>
	<arg name="use_mimic_tag" default="true"/> <!-- the synergy is applied with pure kinematics -->
	<arg name="tactile_mapping" default="P3r"/>
	<arg name="tactile_display_mode" default="2"/>

	<!-- load robot description -->
	<param name="robot_description" command="$(find xacro)/xacro --inorder $(find human_hand_description)/robots/$(arg robot_name).urdf.xacro use_mimic_tag:=$(arg use_mimic_tag) tactile_mapping:=$(arg tactile_mapping)"/>

	<param name="use_gui" value="$(arg gui)"/>
	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" >
		<!-- listen to synergy/joint_states topic for external synergy joint provider -->
		<rosparam if="$(arg use_mimic_tag)" param="source_list">["synergy/joint_states"]</rosparam>
	</node>

	<node name="" pkg="robot_state_publisher" type="state_publisher"/>
	<node name="tactile_marker_publisher" pkg="tactile_marker_publisher" type="tactile_marker_publisher">
		<param name="mode" value="$(arg tactile_display_mode)"/>
	</node>
</launch>
