<!-- load the human hand model into robot_description,
     start a joint_state_publisher, a robot_state_publisher, and a tactile_marker publisher -->
<launch>
	<arg name="gui" default="true" />
	<arg name="jsp" default="true"/>

	<arg name="property_file" default="$(dirname)/../model/properties.yaml" />
	<arg name="mapping_file" default="$(dirname)/../model/taxel.yaml" />

	<!-- use synergy with kinematics-based <mimic> tag -->
	<arg name="use_synergy" default="true"/>
	<arg name="tactile_mapping"/>
	<arg name="tactile_channel" default="tactile glove"/>
	<arg name="prefix" default=""/>
	<arg name="scale" default="1.0"/>
	<arg name="side" default="" doc="handedness: left|right. If empty use handedness from mapping_file or right."/>

	<!-- extra xacro args required for melodic -->
	<arg name="__noetic" value="$(eval env('ROS_PYTHON_VERSION') == '3')"/>
	<arg name="__extra_args" value="" if="$(arg __noetic)"/>
	<arg name="__extra_args" value="--xacro-ns" unless="$(arg __noetic)"/>
	<!-- load robot description -->
	<param name="robot_description" command="xacro $(arg __extra_args) $(find human_hand_description)/robots/human_hand.urdf.xacro use_synergy:=$(arg use_synergy) property_file:=$(arg property_file) mapping_file:=$(arg mapping_file) tactile_mapping:=$(arg tactile_mapping) tactile_channel:='$(arg tactile_channel)' prefix:=$(arg prefix) scale:=$(arg scale) side:=$(arg side)"/>

	<group if="$(arg jsp)">
		<arg name="__jsp" value="joint_state_publisher" unless="$(arg gui)"/>
		<arg name="__jsp" value="joint_state_publisher_gui" if="$(arg gui)" />
		<node name="glove_jsp" pkg="$(arg __jsp)" type="$(arg __jsp)">
			<!-- listen to synergy/joint_states topic for external synergy joint provider -->
			<rosparam if="$(arg use_synergy)" param="source_list">["synergy/joint_states"]</rosparam>
		</node>
	</group>

	<node name="glove_rsp" pkg="robot_state_publisher" type="robot_state_publisher"/>
</launch>
